@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Some Colores
https://coolors.co/274d4c-2f9595-97b1a6-698996-407076 */

:root {
	--primary-color: #1e91d6;
  --secondary-color: #001929;
  --accent1-color: #001929;
  --accent2-color: #ea5c1f;
  --heading-font: "Titillium Web", sans-serif;
  --paragraph-font: "Titillium Web", sans-serif;
  --nav-background-color: #001929d6;
  --nav-link-color: #fff;
}


body {
	font-family: var(--paragraph-font);
	max-width: 960px;
	padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
}

header {
	color: #fff;
	background-color: var(--accent1-color);
	padding: 1rem;
}

nav {
	background-color: var(--nav-background-color);
	font-size: 1.2rem;
	display: flex;
}

nav a {
	display: block;
	color: var(--nav-link-color);
	text-decoration: none;
	padding: 1rem;
}

nav a:link,
nav a:visited {
	color: var(--nav-link-color);
}

nav a:hover {
	color: var(--nav-hover-link-color);
	background-color: var(--nav-hover-background-color);
}

p {
	padding: .3rem;
}