@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: "Ubuntu Sans Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

header, footer {
	background-color: #164e70;
	color: #fff;
}

header h1 {
	text-align: center;
	padding: .7rem 0;
}

main {
	display: grid;
	grid-template-columns: 60% 40%;
	margin: auto;
	max-width: 900px;
	gap: 2em;
	padding: 1rem;
}

nav {
	background-color: #333;
	display: flex;
	justify-content: space-around;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 1rem 3rem;
}

nav a:visited {
	color: #fff;
}

nav a:hover {
	color: #fffb54;
}

nav ul {
	list-style: none;
}

footer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1.2rem;
	gap: .4rem;
}

.card {
	border: 1px solid #cfcfcf;
	border-radius: 8px;
}

.card-title {
	background-color: #164e70;
	border-radius: 8px 8px 0 0;
	color: #fff;
	padding: .6rem 0;
	text-align: center;
}

.country-desc {
	display: flex;
	gap: 1rem;
	margin: 1rem;
}

.country-desc, .description {
	display: flex;
	gap: 1rem;
	margin: 1rem;
}

.country-desc img, .description img {
	width: 120px;
}

.links_list {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: auto;
	height: 100%;
}