@media (min-width: 992px) {
  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  main {
	max-width: max-content;
  }

  main section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
  }

  nav {
    display: flex;
    height: auto;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    font-size: 1.2rem;
  }

  .hamburger {
    display: none;
  }
}
